*{
  margin: 0 auto;
}
.App {
  display:grid;
  grid-template-areas: repeat(3,1fr);
  width: 90%;
}
.projects-container {
  display: grid;
  grid-gap: 10px;
}
.project-container__display {
  display: grid;
  grid-template-areas: repeat(1,1fr);
  width: 1200px;
}
.list-items{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  font-size: 20px;
  text-align: left;
}

.list-items div{
  width: 150px;
  border: 1px solid;
}

.list-items-heading{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  font-size: 25px;
  text-align: left;
}
.list-items-heading div{
  width: 150px;
  border: 1px solid;
}