* {
  margin: 0 auto;
}
.App {
  display: grid;
  grid-template-areas: repeat(4, 1fr);
  width: 90%;
}
.projects-container {
  background-color: #ededed;
  display: grid;
}
.top-navigation-bar {
  display: flex;
  background-color: #333;
  width: 98.5%;
  padding: 10px;
}
.top-navigation-bar h3 {
  color: bisque;
  font-size: 2em;
  text-align: left;
}
.top-navigation-bar input[type="text"] {
  padding: 10px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
.top-navigation-bar button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: left;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
/*break point for less than or equal to 650px screen */
@media screen and (max-width: 650px) {
  .top-navigation-bar {
    display: flex;
    flex-direction: column;
    background-color: #333;
    width: 97.5%;
    align-items: center;

  }
  .top-navigation-bar h3 {
    color: bisque;
    font-size: 2em;
    text-align: left;
  }
  .top-navigation-bar input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  .top-navigation-bar button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin-bottom: 5px;
  }
  .top-navigation-bar:nth-child(n){
    margin: 5px;
  }
  table {
    border: 0;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}